*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#F1EFE9 ;
    box-sizing: border-box;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.section1{
    margin: 0% 2%;
}
.navleft{
    margin-top: 35px;
}

.navleft image:hover{
    opacity: 0.5;}



.navright{
    font-size: 18px;
    margin-top: 35px;

}
.navright button{
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
}
.i1{
    margin: 0px 28px;
}
.navright:first-child:hover{
    color: #6E6D6B;
}
.il:hover{
    color: #c9c8c7;
}
.section2{
    display: flex;
    height: 700px;
    margin: 0% 5%;
}
.section2_left{
    width: 60%;
    height: 440px;
    position: relative;
    z-index: 1;
}


.section2_right{
    width: 40%;
    height: 450px;
    margin-top: 50px;
}
.sectin2_left_chaild h5{
    letter-spacing: 7px;
    margin: 20px 0px;
}
.aquest {
    margin: 25px 0px; 
}
.sectin2_right_chaild{
  margin-left: 5%; 
}
.sectin2_right_chaild img{
    margin-left: 7%;
}
.sectin2_right_chaild2{
    background: #E2DED1;
    padding-bottom: 20px;
    padding-top: 100px;
    width: 800px;
    margin-top: 50px;
    right: 5%;
    bottom: -100px;
    position: absolute;
}

.italy{
    text-transform: uppercase;
} 
.text1{
    display: none;
}

.txt {
    background: none;
    text-align: end;
    width: 35%;
    margin-left: 58%;
    margin-bottom: 20px;
}
.txt p{
    background: none;
}
.man_div{
    background: none;
    text-align: end;
    margin-right: 55px;

}
.trophy{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: none;
}

.ti{
    background: none;
}
.ti i{
    background: none;
    padding: 12px 12px;
    font-size: 10px;
    border: 3px solid black;
    border-radius: 50%;
}
.ti h5,span,code{
    background: none;
    letter-spacing: 4px;
    font-size: 12px;
    margin: 10px 0px;


}

.ti h2{
    background: none;
    letter-spacing: 4px;
    font-size: 12px;
    margin: 10px 0px;
}

.section3 h3{
    margin: 50px 20px;
    letter-spacing: 5px;
}

.card_parent{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0% 3%;
}
.card{
    width: 28%;
    height: 300px;
    margin-bottom: 50px;
}
.card h4{
    margin-top: 11%;
    
}
.card_bottom{
   margin-top: 10px;
   font-size: 12px;
}
.cdi{
    margin: 0px 10px;
}
.card_bottom i{
    color: #A19D96;
}
.card_img{
    position: relative;

}

.card_img:hover .card_hover{
        display: block;

}
.card_hover{
    width: 100%;
    height: 200px;
    padding: 20px;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.card_top_item{
    display: flex;
    justify-content: space-between;
    background: none;
    color: white;
}
.card_top_item p,i{
    background: none;
}
.card_hover a{
    display: block;
     text-align: center;
     margin-top: 16%;
     background: none;
     text-transform: uppercase;
     font-weight: 700;
     text-decoration: none;
     color: white;
}

.section4 h1{
     margin: 60px 0px;
     margin-left: 35px;
     letter-spacing: 5px;
}
.section5 h1{
       text-align: center;
       text-transform: uppercase;
       margin: 30px 0px;
}
.section5 img{
    margin-left: 24%;
}
.up_signal{
    float: right;
    margin-top: 88px;
    padding: 14px;
    margin-right: 2%;
    border: 1px solid black;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 35px 10px;
    margin-top: 30px;
}
footer div{
    font-size: 25px;
}
.twitter{
    margin-left: 15px;
}
.instragram{
    margin: 0px 15px;
}


@media screen and (max-width:1200px) {
     .section2{
        display: block;
        height: 1200px;
    }
    .section2_left{
        width: 100%;
    }
    .text1{
        display: block;
    }
    .sectin2_right_chaild{
        width: 640px;
        height: 200px;
        display: flex;
        justify-content: space-between;
    }
    .sectin2_right_chaild div{
        width: 33%;
        padding: 20px 0px;
    }
    .sectin2_right_chaild2{
        width: 640px;
        text-align: center;
        position: static;
    }
    .man_div{
        margin-right: 40%;
        margin-bottom: 20px;

    }
    .txt{
        display: none;
    }
    .card{
        width: 45%;
    }
    .mid_card{
        display: none;
    }
    .section5 img{
        margin-left: 5%;
        width: 90%;
        position: relative;
    }
    .up_signal{
        position: absolute;
        z-index: 1;
        right: 10px;
    }

}

@media screen and (max-width:650px){
      .section2{
        height: 1250px;
      }
      .sectin2_right_chaild{
        width: 440px;
        display: block;
      }
      .sectin2_right_chaild img{
        display: none;
      }
      .sectin2_right_chaild2{
        width: 440px;
        margin-top: 160px;
        text-align: center;
        position: static;
    }
    .man_div{
        margin-right: 22%;
    }
    .card{
        width: 85%;
    }
    .trophy{
        display: flex;
        flex-wrap: wrap;
    }
    .ti{
        width: 45%;
        margin-bottom: 20px;
    }
    .sectin2_left_chaild h5{
       
        margin: 40px 0px;
    }
}